
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>




<body>
  <nav class="navbar navbar-expand-lg pt-4 fixed-top" style="background-color: #3A3E4B;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets\images\logo2.svg"  alt="Logo" height="50" class="d-inline-block align-top" />
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul id="nav-length" class="navbar-nav justify-content-between border-top border-2 text-center">
                <li class="nav-item"><a class="nav-link border-hover py-3 text-white"  aria-current="page" href="#" [routerLink]="['/home']">Home</a></li>
                <li class="nav-item"><a class="nav-link border-hover py-3 text-white" href="#" [routerLink]="['/aboutus']">About</a></li>
                <li class="nav-item"><a class="nav-link border-hover py-3 text-white" href="#" [routerLink]="['/contactus']">Contact</a></li>
                <li class="nav-item"><a class="nav-link border-hover py-3 text-white" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link border-hover py-3 text-white" href="#" [routerLink]="['/signup']">Signup</a></li>
                <li class="na+v-item">
                    <a href="#" [routerLink]="['/signin']" id="sign-in" class="nav-link my-2 px-4 text-white">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <main id="body-content">

    <div class="container text-white w-75">
      <p class="fs-2 fw-light m-0 mt-lg-5">About SkillMentor</p>
      <h1 class="display-2 fw-bold mb-5">Explore <br>To Find <span class="brand">Your Skill</span>
      </h1>
      <p class="w-50 fs-5 mb-5">
        SkillMentor allowed you to learn things professionaly in a fast 
        way ,   from home or any where in the pakistan!
      </p>
      <button type="button" class="btn icon-container text-white px-4 rounded-4 mb-5" [routerLink]="['/contactus']">Contact Us</button>
      <div class="pos">
        <div class="row">
          <div class="col-4  p-1">
            <div class="p-3 icon-container">
              <p>Digital Marketing</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
          <div class="col-4 p-1">
            <div class="p-3 bg-secondary">
              <p>Beyond Consulting</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
          <div class="col-4 p-1">
            <div class="p-3 dark-background">
              <p>Graphic Design</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

<!-- Page Content-->
<div class="container  mx-auto mb-4  ">

  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Forget the old rules. You can have the best people.
        Right now. Right here.</p>
    </div>
  </div>
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center  ">
    <div class="col-lg-5 m "><img class="img-fluid rounded mb-4 mb-lg-0 img-fluid" src="assets\images\img1.jpg"
        alt="img1.jpg" /></div>
    <div class="col-lg-5 px-5">
      <h2 class="font-weight-light align-items-center ">"SkillMentor allowed you to learn things professionaly in a fast 
        way , from home or any where in the pakistan!
       "</h2>
      <p class="my-3 adjusted-margin">Now Ali  not wait for teachers to tell him , but now Ali learn any time  , any where from home</p>
      <a class="btn btn-outline-secondary btn-lg mt-2" href="#!" [routerLink]="['/signup']">Register Now!</a>
    </div>
  </div>


</div>


</html>
<app-footer></app-footer>


<!-- End of .container -->