
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>

  <main id="body-content">

    <div class="container text-white w-75">
      <p class="fs-2 fw-light m-0 mt-lg-5">About SkillMentor</p>
      <h1 class="display-2 fw-bold mb-5">Explore <br>To Find <span class="brand">Your Skill</span>
      </h1>
      <p class="w-50 fs-5 mb-5">
        SkillMentor allowed you to learn things professionaly in a fast 
        way ,   from home or any where in the pakistan!
      </p>
      <button type="button" class="btn icon-container text-white px-4 rounded-4 mb-5" [routerLink]="['/contactus']">Contact Us</button>
      <div class="pos">
        <div class="row">
          <div class="col-4  p-1">
            <div class="p-3 icon-container">
              <p>Digital Marketing</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
          <div class="col-4 p-1">
            <div class="p-3 bg-secondary">
              <p>Beyond Consulting</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
          <div class="col-4 p-1">
            <div class="p-3 dark-background">
              <p>Graphic Design</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, autem!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

<!-- Page Content-->
<div class="container  mx-auto mb-4  ">

  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Forget the old rules. You can have the best people.
        Right now. Right here.</p>
    </div>
  </div>
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5 ">
    <div class="col-lg-5 m "><img class="img-fluid rounded mb-4 mb-lg-0 img-fluid" src="assets\images\img1.jpg"
        alt="img1.jpg" /></div>
    <div class="col-lg-5 px-5">
      <h2 class="font-weight-light align-items-center ">"SkillMentor allowed you to learn things professionaly in a fast 
        way , from home or any where in the pakistan!
       "</h2>
      <p class="my-3 adjusted-margin">Now Ali  not wait for teachers to tell him , but now Ali learn any time  , any where from home</p>
      <a class="btn btn-outline-secondary btn-lg mt-2" href="#!" [routerLink]="['/signup']">Register Now!</a>
    </div>
  </div>


</div>

</html>