
<!-- <section style="background-color: #d3d3d3;" (submit)="personal_detail_to_home()"> -->
  <section style="background-color: #d3d3d3;" >
  <div class="container my-5 py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-6">
        <div class="card" style="border-radius: 2rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form style="margin: 0% 10% 0% 10%;">
                  <h5 class="fw-normal mb-3 pb-3 fs-1" style="letter-spacing: 1px;">
                    Professional Details
                  </h5>

                  <div class="form-outline mb-4">
                    <label class="fw-bold my-1 py-1" for="categorySelect">Choose Category</label>
          
                      <select class="form-select form-control form-control-lg"
                              [(ngModel)]="selectedCategory"
                              (ngModelChange)="onCategoryChange($event)"
                              name="categorySelect">
                        <option value="" disabled selected>Choose Category...</option>
                        <option value="education">education</option>
                        <option value="medical">medical</option>
                        <option value="mechanic">mechanic</option>
                      </select>
                    </div>
                    
                      <div *ngIf="selectedCategory === 'education'" class="form-outline mb-4">
                        <label class="fw-bold my-1 py-1" for="educationSelect" >Name</label>
                        <input type="schoolname" id="f" class="form-control form-control-lg" placeholder="School/college/university" [(ngModel)]="schoolName" name="schoolName"/>
                      </div>

                      <div *ngIf="selectedCategory === 'education'" class="form-outline mb-4">
                        <label class="fw-bold my-1 py-1" for="educationSelect" >Field</label>
                        <input type="field" id="f" class="form-control form-control-lg" placeholder="like pre-medical or bscs etc" [(ngModel)]="field"  name="field"/>
                      </div>

                      <div *ngIf="selectedCategory === 'education'" class="form-outline mb-4">
                        <label class="fw-bold my-1 py-1" for="educationSelect" >Subjects to Teach</label>
                        <input type="field" id="f" class="form-control form-control-lg" placeholder="like math,progrmming,biology etc" [(ngModel)]="subjectsToTeach" name="subjectsToTeach" />
                      </div>

                
                     
                      <div *ngIf="selectedCategory === 'education'" class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit" (click)="proffesionEducation(schoolName,field, subjectsToTeach,'education')">
                          Submit
                        </button>
                      </div>

                  <div class="pt-1 mb-4">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

                  















<!-- 

<div class="form-outline mb-4">
  <label class="fw-bold my-1 py-1" for="categorySelect">Choose Category</label>

    <select class="form-select form-control form-control-lg"
            [(ngModel)]="selectedCategory"
            (ngModelChange)="onCategoryChange($event)"
            name="categorySelect">
      <option value="" disabled selected>Choose Category...</option>
      <option value="education">education</option>
      <option value="medical">medical</option>
      <option value="mechanic">mechanic</option>
    </select>
  </div>
  
    <div *ngIf="selectedCategory === 'education'" class="form-outline mb-4">
      <label class="fw-bold my-1 py-1" for="educationSelect">Education Level</label>
      <select class="form-select form-control form-control-lg"
              [(ngModel)]="selectedEducationLevel"
              (ngModelChange)="onEducationLevelChange($event)"
              name="educationSelect">
        <option value="" disabled selected>Choose Education Level...</option>
        <option value="matric">Matric</option>
        <option value="fsc">FSC</option>
        <option value="university">University</option>
      </select>
    </div> -->