


  <style>
    /* Custom CSS for the container and table */
    .container {
      margin-top: 20px;
    }

    .shadow-container {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table tr {
      border-bottom: 1px solid #dee2e6;
    }

    table th, table td {
      padding: 10px;
    }

    table th:last-child, table td:last-child {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  </style>



  <!-- -------------- -->

 


  <!-- ------------------ -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <!-- Shadow Container -->
        <div class="shadow-container">

          <!-- Table -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="2"><h4 class="text-center">Orders</h4></th>
              </tr>
            </thead>
            <tbody>


           
              <tr>
                <td>
                  <a routerLink="/historyOrders">
                    History ofcompleted orders
                  </a>
                </td>
                <td>
                  <i class="bi bi-chevron-right"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <a routerLink="/currentOrders">
                    <i class="bi bi-star"></i>
                    Current orders
                  </a>
                </td>
                <td>
                  <i class="bi bi-chevron-right"></i>
                </td>
              </tr>

              <tr>
                <td>
                  <a routerLink="/cancelOrders">
                    <i class="bi bi-star"></i>
                    Cancel orders
                  </a>
                </td>
                <td>
                  <i class="bi bi-chevron-right"></i>
                </td>
              </tr>

              <tr>
                <td>
                  <a routerLink="/incompleteOrders">
                    <i class="bi bi-star"></i>
                    incpomplete orders 
                  </a>
                </td>
                <td>
                  <i class="bi bi-chevron-right"></i>
                </td>
              </tr>
             
          
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>



  
 




<app-footer></app-footer>


