


<html>

<body>
    <nav class="navbar navbar-expand-lg pt-4 fixed-top" style="background-color: #3A3E4B;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets\images\logo2.svg" alt="Logo" height="50" class="d-inline-block align-top" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul id="nav-length" class="navbar-nav justify-content-between border-top border-2 text-center">
                  <li class="nav-item">
                    <div class="search-bar mt-2">
                      <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
                      <button class="btn search-button" type="button">
                        <fa-icon class="fa" [icon]="search"></fa-icon>
                      </button>
                      <ul class="suggestions" *ngIf="filteredTitles.length > 0">
                        <li *ngFor="let title of filteredTitles" (click)="onSuggestionClick(title.title)">{{ title.title }}</li>
                    </ul>
                      
                    </div>
                  </li>






                    <li class="nav-item"><a class="nav-link border-hover py-3 text-white" aria-current="page" href="#"
                            [routerLink]="['/home']">Home</a></li>

                    <li class="nav-item">
                        
                            <a class="nav-link border-hover py-3 text-white" href="#"
                            routerLink="/message-table">Messages</a>
                        
                    </li>
                    <li class="nav-item"><a class="nav-link border-hover py-3 text-white" aria-current="page" href="#"
                      [routerLink]="['/orders']">Manage Orders</a></li>


                    <li class="nav-item"><a class="nav-link border-hover py-3 text-white" href="#"
                      routerLink="/setting">Profile</a></li>
                        <!-- <li class="nav-item"><a class="nav-link border-hover py-3 text-white" 
                            href="#" routerLink="/urgentoptions"
                            >Urgent offer</a></li> -->
                            
                          
                            <div *ngIf="pictur" class="image-container d-flex justify-content-center mt-2 ">
                              <img [src]="pictur | safeResourceUrl" class="rounded-circle" alt="Profile Image" style="height: 6vh; width: 3vw; border-radius: 1rem;">
                            </div> 
                   
                   


                </ul>
                
    

                
            </div>
        </div>
    </nav>

</body>

</html>


















<!-- 

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
                  
      <a class="nav-link border-hover py-3 text-white" 
      href="#"routerLink="/home" >Home</a>
  
    </li>
    <li class="nav-item">
                  
      <a class="nav-link border-hover py-3 text-white" 
      href="#" routerLink="/message-table">Messages</a>
  
    </li>
    <li class="nav-item">
                  
      <a class="nav-link border-hover py-3 text-white" 
      href="#"routerLink="/setting">Profile</a>
  
    </li>
    <li class="nav-item">
                  
      <a class="nav-link border-hover py-3 text-white" 
      href="#"routerLink="/urgentoptions" >Urgent</a>
  
    </li>
   







  
    <li class="nav-item">
      <div class="search-bar">
        <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
        <button class="btn search-button" type="button">
          <fa-icon class="fa" [icon]="search"></fa-icon>
        </button>
        <ul class="suggestions" *ngIf="filteredTitles.length > 0">
            <li *ngFor="let title of filteredTitles" (click)="onSuggestionClick(title.title)">{{ title.title }}</li>
        </ul>
      </div>
    </li>
    
  </ul>
</div>

<div *ngIf="pictur" class="image-container d-flex justify-content-center">
  <img [src]="pictur | safeResourceUrl" class="rounded-circle" alt="Profile Image" style="height: 10vh; width: 5vw; border-radius: 1rem;">
</div> -->