
<body>


    <div class="container">
       
    <!-- End Site Title
    ================================================== -->
    
        <!-- Begin Featured
        ================================================== -->
        <section class="featured-posts">
        <div class="section-title">
            <h2><span>Search..</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">
    
            <!-- begin post -->
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <a href="post.html">
                            <div class="thumbnail" [style.background-image]="'url(assets/images/1.1.jpg)'">
                            </div>
                        </a>
                    </div>
                    
                    
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title"><a href="post.html">Expertise in C++ Programming</a></h2>
                            <h4 class="card-text">"I am a seasoned C++ teacher with extensive knowledge in both fundamental and advanced C++ concepts. My expertise spans object-oriented programming, data structures, algorithm design, software engineering principles, and modern C++ standards</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                    <a href="author.html"><img class="author-thumb" src="assets/images/mahi.jpg"></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name"><a href="author.html">mohamin</a></span><br/>
                                    <span class="post-date">22 January 2024</span><span class="dot"></span><span class="post-read">Lahore</span>
                                    </span>
                                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end post -->
    
            <!-- begin post -->
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <a href="post.html">
                            <div class="thumbnail" [style.background-image]="'url(assets/images/1.2.jpg)'">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title"><a href="post.html"> Innovative Teaching Approach</a></h2>
                            <h4 class="card-text">This is a longer card with supporting text below as a natural "My teaching methodology emphasizes hands-on learning, encouraging students to engage directly with the code from day one. I incorporate a mix of theoretical instruction, practical coding exercises, project-based learning.</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                    <a href="author.html"><img class="author-thumb" src="assets/images/haseebpicc.jpg" alt="Sal"></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name"><a href="author.html">Haseeb</a></span><br/>
                                    <span class="post-date">26 Feb 2024</span><span class="dot"></span><span class="post-read">Lahore</span>
                                    </span>
                                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end post -->
    
            <!-- begin post -->
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <a href="post.html">
                            <div class="thumbnail" [style.background-image]="'url(assets/images/1.3.jpg)'">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title"><a href="post.html">Rich Experience in Education and Industry</a></h2>
                            <h4 class="card-text">With over a decade of experience in both academic settings and the software development industry, I bring a wealth of practical insights to my teaching. My background includes developing complex software systems in C++, .</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                    <a href="author.html"><img class="author-thumb" src="assets/images/hassanpic.jpeg"></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name"><a href="author.html">Hassan</a></span><br/>
                                    <span class="post-date">23 sep 2023</span><span class="dot"></span><span class="post-read">Lahore</span>
                                    </span>
                                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end post -->
    
            <!-- begin post -->
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <a href="post.html">
                            <div class="thumbnail" [style.background-image]="'url(assets/images/1.4.jpg)'">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title"><a href="post.html">Passion for Teaching and Technology</a></h2>
                            <h4 class="card-text">I am deeply passionate about technology and education. My enthusiasm for teaching C++ is driven by the joy of sharing knowledge and witnessing the growth of my students. I believe in inspiring curiosity.</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                    <a href="author.html"><img class="author-thumb" src="assets/images/1.4.jpg" alt="Sal"></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name"><a href="author.html">Sal</a></span><br/>
                                    <span class="post-date">22 July 2023</span><span class="dot"></span><span class="post-read">Lahore</span>
                                    </span>
                                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end post -->
    
        </div>
        </section>
        
        <section class="recent-posts">
        
        
        </section>
        
    
    
    </div>
    
    </body>
    
    