<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-4 p-lg-5 text-black">
            <div class="d-flex align-items-center mb-3 pb-1">
              <img src="assets\images\logo2.svg" alt="Logo" height="60" />
            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
            <!-- <form (ngSubmit)="onLogin(email.value, password.value)"> -->
              <form > 
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control form-control-lg" #email />
                <label class="form-label" for="email">Email address</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" #password />
                <label class="form-label" for="password">Password</label>
              </div>
              <button class="btn btn-dark btn-lg btn-block" (click)="test()">Login</button>
              <br><br>
              <a class="small text-muted" href="#" [routerLink]="['/forgetpassword']">Forgot password?</a>
              <br><br>
              <p class="mb-3" style="color: #0d1785;">Don't have an account?
                <a href="#" [routerLink]="['/signup']" style="color: #0d1785;">Register here</a>
              </p>
              <a href="#!" style="color: #2d37a3;">Terms of use.</a>
              <a href="#!" style="color: #2533c7;">Privacy policy</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
