<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<body>
  <div class="container my-5 py-4 bg-light rounded">

   <form class="rounded bg-white shadow p-5">

      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="button"    disabled style="width:auto ; border-color: royalblue; "><i style="font-size: 30px; color: royalblue; border-color: royalblue;">SKILL MENTOR</i></button>
        </div>
        </div>
        <br>
        <br>
      <hr>
    <br>
    <br>
      
      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="button" routerLink="/filterteacher"  class="btn btn-outline-primary" style="width:250px ;  height:50px">SEND REQUEST </button>
        </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
        <div class="col-auto">
          <button type="button" routerLink="/signup"  class="btn btn-outline-primary" style="width:250px ; height:50px">REMOVE REQUEST</button>
        </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-auto">
              <button type="button" routerLink="/requestforstudents"  class="btn btn-outline-primary" style="width:250px ; height:50px">SEE REQUESTS</button>
            </div>
            </div>
      <hr class="hr-line">
   </form>
    </div>
 <app-footer></app-footer>


