<div class="container mt-3">
  <table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th>Chats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of teacherData" (click)="onRowClick(data.id)" class="clickable-row">
        <!-- Combined Image and Name Cell -->
        <td class="align-middle">
          <img [src]="data.image | safeResourceUrl" class="rounded-circle me-2" alt="Profile Image" style="height: 50px; width: 50px; border-radius: 50%; vertical-align: middle;">
          <span>{{ data.name }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
