<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<section class="wrapper">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <!-- <div class="logo">
                <img src="../assets/images/logo.png" class="img-fluid" alt="logo">
            </div> -->
            <form class="rounded bg-white shadow p-5">
                <div class="row">
                    <div class="col-auto">
                        <a routerLink="/login"><i class="bi bi-arrow-left "  style="font-size: x-large; color: blue;"></i></a>
                    </div>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <div class="col-auto mx-auto ms-5">
                        <div class="col-auto">
                            <button type="button"   disabled style="width:auto ; border-color: royalblue; "><i style="font-size: 30px; color: royalblue; border-color: royalblue;">SKILL MENTOR</i></button>
                          </div>
                    </div>
                </div>
                <br>
                <br>
                <h3 class="text-dark fw-bold fs-4 mb-2">Forget Password</h3>
                <div class="fw-normal text-muted mb-4">
                    Enter your e-mail to change your password.
                </div>
                

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                 

                  <button  routerLink="/newpassword" type="submit" class="btn btn-primary submit_btn  my-4">Continue</button>
                  <button type="submit" class="btn btn-secondary submit_btn  my-4 ms-3">Cancel</button>

            </form> 
        </div>
    </div>
</section>


