<<<<<<< HEAD

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .footer {
    position: fixed; /* Fix the footer's position relative to the viewport */
    left: 0; /* Align the footer to the left edge of the viewport */
    bottom: 0; /* Align the footer to the bottom of the viewport */
    width: 100%; /* Ensure the footer spans the full width of the viewport */
    background-color: #000; /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center; /* Center the footer content */
    padding: 8px 0; /* Padding inside the footer */
  }
  

  .footer-icons {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease-in-out; /* Added animation transition */
  }

  .footer-icons:hover {
    text-decoration: none; /* Remove underline on hover */
    transform: scale(1.2); /* Added scale animation on hover */
  }

  .footer-icons fa-icon {
    margin-bottom: 5px;
  }

=======
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Set body height to 100% */
  position: relative; 
  }

  .footer {
    background-color: #000; 
    color: #fff;
    padding: 8px 0;
    position: fixed; /* Set footer position to fixed */
  bottom: 0; /* Position the footer at the bottom of the screen */
  width: 100%;
  }

  .footer-icons {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease-in-out; 
  }

  .footer-icons:hover {
    text-decoration: none; 
    transform: scale(1.2); 
  }

  .footer-icons fa-icon {
    margin-bottom: 5px;
  }

>>>>>>> a34033b47edf0b8b3e63115facbee524b92a6acf
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
  }

  .col-2 {
    flex: 0 0 20%;
    text-align: center;
  }
=======
    justify-content: space-between;
  }

  .col-2 {
    flex: 0 0 calc(16.666% - 20px); /* Adjusted flex basis to create equal spacing */
    text-align: center;
    margin-bottom: 0; /* Remove margin-bottom */
  }
  
>>>>>>> a34033b47edf0b8b3e63115facbee524b92a6acf
