<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <style>
  
  </style>
</head>

<body>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <a routerLink="/home" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="house"></fa-icon>
            <br>Home
          </a>
        </div>
        <div class="col-2">
          <a routerLink="/filterstudent" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="search"></fa-icon>
            <br>Search
          </a>
        </div>
        <div class="col-2">
          <a routerLink="/urgentoptions" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="urgent"></fa-icon>
            <br>Urgent
          </a>
        </div>
        <div class="col-2">
          <a routerLink="/setting" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="profile"></fa-icon>
            <br>Profile
          </a>
        </div>
        <div class="col-2">
          <a routerLink="/orders" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="order"></fa-icon>
            <br>Orders
          </a>
        </div>
        <div class="col-2">
          <a routerLink="/message-table" class="footer-icons">
            <fa-icon class="fa-2x" [icon]="message"></fa-icon>
            <br>Message
          </a>
        </div>
      </div>
    </div>
  </footer>
  
</body>

</html> -->
<div class=" bg-dark text-white ">

  <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">OUR WORLD</h5>

        <ul class="list-unstyled mb-4">
          <li>
            
            
            <a class="nav-link border-hover  text-white" href="#"
                            [routerLink]="['/aboutus']">About</a>
          </li>
          <li>
            <a class="nav-link border-hover  text-white" href="#" [routerLink]="['/services-page']">Services</a>          </li>
          
          <li>
            <a class="nav-link border-hover  text-white" href="#" [routerLink]="['/services-page']">Artist collaborations</a> 
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Assistance</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link border-hover  text-white" href="#"
            [routerLink]="['/contactus']">Contact</a>          </li>
          
          <li>
            <a class="nav-link border-hover  text-white" href="#" [routerLink]="['/services-page']">Exchange Information</a> 

          </li>
         
          <li>
            <a class="nav-link border-hover  text-white" href="#" [routerLink]="['/services-page']"> Payment</a> 

          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Careers</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link border-hover  text-white" href="#" [routerLink]="['/services-page']" >Jobs</a>

          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

        <div class="form-outline form-white mb-4">
          <input type="email" id="form5Example2" class="form-control" />
          <label class="form-label" for="form5Example2">Email address</label>
        </div>

        <button type="submit" class="btn btn-outline-secondary btn-block">Subscribe</button>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  
</footer>

</div>