<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  

<body>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-2 text-center mb-3">
            <a routerLink="/home" class="footer-icons">
              <fa-icon class="fa-2x" [icon]="house"></fa-icon>
              <br>Home
            </a>
          </div>
          <div class="col-2 text-center mb-3">
            <a routerLink="/filterstudent" class="footer-icons">
              <fa-icon class="fa-2x" [icon]="search"></fa-icon>
              <br>Search
            </a>
          </div>
          <div class="col-2 text-center mb-3">
            <a routerLink="/urgentoptions" class="footer-icons">
              <fa-icon class="fa-2x" [icon]="urgent"></fa-icon>
              <br>Urgent
            </a>
          </div>
          <div class="col-2 text-center mb-3">
            <a routerLink="/setting" class="footer-icons">
              <fa-icon class="fa-2x" [icon]="profile"></fa-icon>
              <br>Profile
            </a>
          </div>
          <div class="col-2 text-center mb-3">
            <a routerLink="/message-table" class="footer-icons">
              <fa-icon class="fa-2x" [icon]="message"></fa-icon>
              <br>Message
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  