
<br>
<br>
<br>
<br>
ok
    <div *ngIf="user">
      <h1>Welcome, {{ user.firstname }}!</h1>
    </div> 
   

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
  
        <!-- Shadow Container -->
        <div class="shadow p-3">
  
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th colspan="6" class="text-center">Gig Management Dashboard</th>
                </tr>
                <tr class="fw-bold">
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
  
              <tbody>
                <tr *ngFor="let gig of gigs; let i = index">

                  <td>{{ i + 1 }}</td>
                  <td>{{ gig.gigtitle}}</td>
                  <td>{{ gig.discription }}</td>
                  <td>{{ gig.price }}</td>
                  <td class="text-center"><button>Edit</button></td>
                  <td class="text-center"><button>Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  