/* Styles for the info-container */

.custom-background {
  background-image: url('src/assets/images/meetings-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-container {
  background-color: #ffffff; /* White background for the container */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 20px; /* Margin at the bottom */
}

/* Style for the text inside the container */
.info-container p {
  margin: 10px 0; /* Vertical margin for spacing between paragraphs */
  font-size: 1rem; /* Font size */
  line-height: 1.6; /* Line height */
}













.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-header {
  background-color: orange;
  font-size: 24px;
}

.card-body {
  padding: 20px;
}

.card-info p {
  margin-bottom: 10px;
  line-height: 1.6;
}



.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
}

/* Additional styles */
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical; /* Allows vertical resize */
}

.chatbox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.price-description {
  display: block; /* Makes the text go to the next line */
  color: black; /* Sets the text color to black */
  font-size: 1rem; /* Smaller font size for the description */
  font-weight: normal; /* Regular font weight for the description */
}

.btn-outline-primary {
  padding: 0.75rem 1.25rem; /* Increase padding for better spacing */
}
.btn.active {
  background-color: #007bff; /* Example: Blue background for active state */
  color: white;
}

.orderDays {
  display: block; /* Makes the text go to the next line */
  color: orangered; /* Sets the text color to black */
  font-size: 1rem; /* Smaller font size for the description */
  font-weight: normal;

}