<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6">
        <div class="card" style="border-radius: 1rem; overflow: hidden;">
          <div class="card-header  text-white text-center">
            <h2 class="card-title mb-0">Card Details</h2>
          </div>
          <div class="card-body p-4 p-lg-5 text-black">

            <!-- Card Content -->
           
            <div class="card-info">
              <p><strong>Card Title:</strong> {{ cardTitle }}</p>
              <p><strong>Card ID:</strong> {{ cardId }}</p>
              <p><strong>Name:</strong> {{ cardName }}</p>
              <p><strong>Price Levels:</strong> {{ level1_price }} | {{ level2_price }} | {{ level3_price }}</p>
              <p><strong>Description:</strong> {{ level1_description }} | {{ level2_description }} | {{ level3_description }}</p>
              <p><strong>Skill Level:</strong> {{ skillLevel }}</p>
              <p><strong>Type:</strong> {{ type }}</p>
              <p><strong>Experience:</strong> {{ experience }}</p>
              <p><strong>Category:</strong> {{ category }}</p>
              <p><strong>Subcategory:</strong> {{ subcategory }}</p>
              <ngb-carousel class="custom-carousel">
                <ng-template ngbSlide>
                  
                  <div class="picsum-img-wrapper" style="height: 300px; /* Adjust this value as needed */">
                    <img [src]="image1 | safeResourceUrl" alt=" ist third slide" class="img-fluid" />
                </div>
                  
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper" style="height: 300px; /* Adjust this value as needed */">
                    <img [src]="image2 | safeResourceUrl" alt="2nd  slide" class="img-fluid" />
                </div>
                  
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper" style="height: 300px; /* Adjust this value as needed */">
                    <img [src]="image3 | safeResourceUrl" alt="3rd slide" class="img-fluid" />
                </div>
                
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel> 
            </div>
            <div class="text-center">
              <button class="btn btn-primary" [routerLink]="['/chat-page', teacherId]">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
