.userName{
 font-size: larger;
 color:orangered;
 font-weight: 800
}

.fainfoCircle{
    color:blue
}

.fasettingAccount{
    color: grey;
}

.faheart{
    color:red;
}

.faRateUs{
    color:yellow
}
.faTerms{
    color:green;
}

.faContact{
color:darkgoldenrod
}