
<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
  
        <!-- Shadow Container -->
        <div class="shadow p-3">
  
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th colspan="6" class="text-center">Incomplete Orders</th>
                </tr>
                <tr class="fw-bold">
                  <th>#</th>
                  <th>orderId</th>
                  <th>Title</th>
                  <th>Order placed on</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ order.objectId }}</td>
                  <td>{{ order.title }}</td>
                  <td>{{ datePipe.transform(order.created, 'EEE MMM dd yyyy') }}</td>
                  <td>{{ order.price }}</td>
                </tr>
              </tbody>
              
            </table>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>

