<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6">
        <div class="card" style="border-radius: 1rem">
          <div class="card-body p-4 p-lg-5 text-black">

            <div class="d-flex align-items-center mb-3 pb-1">
              <img src="assets/images/logo2.svg" alt="Logo" height="60" />
            </div>

            <form>

              <!-- Conditionally display the message if there are no favorite cards -->
              <div *ngIf="favoriteCards.length === 0" class="container mt-5 text-center">
                <h2>No Favourites yet added!</h2>
              </div>

              <!-- Card display loop -->
              <div *ngIf="favoriteCards.length > 0" class="row mt-5 pt-5">
                <div *ngFor="let data of favoriteCards" class="col-sm-6 col-md-6 col-lg-6 col-6 mb-4">
                  <div class="card text-center shadow">
                    <div class="card-body d-flex flex-column position-relative">
                      
                      <div class="card-object-id">
                        ID: {{ data.favoriteObjectId}}
                      </div>
          
                      <!-- Image Container -->
                      <div class="image-container">
                        <!-- Optional image code here -->
                      </div>
                      
                      <!-- Information Container -->
                      <div class="info-container">
                        
                          <!-- <fa-icon  class="fa-2x" [icon]="heart"></fa-icon> -->
                       
                        <div class="profile-info d-flex align-items-start">
                          <img class="profile-image" src="../assets/images/haseebpicc.jpg" alt="Profile Image">
                          <div class="name-title">
                            <h3 class="card-name">{{ data.firstname }}</h3>
                            <p class="card-title">{{ data.gigtitle }}</p>
                          </div>
                          <!-- <fa-icon [ngClass]="{'heart-active': data.heartActive}" class="heart-icon fa-2x" [icon]="heart" (click)="toggleHeart(data)" ></fa-icon> -->
                     
          
          
                          
                        </div>
                        <div class="price-position">
                          <p class="card-text">Rs:{{ data.gigprice }}</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <button (click)="removeFavorite(data.favoriteObjectId)" class="btn btn-danger">Remove</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
