<section>
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-4 p-lg-5 text-black">
  
  
              <div class="d-flex align-items-center mb-3 pb-1">
                <img src="assets\images\logo2.svg" alt="Logo" height="60" />
              </div>
     
              <form>
             
                <div class="container mt-5 text-center"> <!-- Added 'text-center' class to center align the content -->
                 <h2>No Favourites yet added!</h2>
                 
                  </div>
                  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
