<app-header></app-header>
<section class="custom-background">
<div class="row">
  <div class="col">
    <ngb-carousel class="custom-carousel">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/1.3.jpg" alt="Random third slide" class="img-fluid" />
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/1.2.jpg" alt="Random third slide" class="img-fluid" />
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/1.1.jpg" alt="Random third slide" class="img-fluid" />
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel> 
  </div>
</div>


<div class="filter-icon-container">
  <fa-icon class="fa-2x" [icon]="filter" (click)="toggleFilter()"></fa-icon> 
</div>
<div class="filter-panel" [class.open]="isFilterOpen">
  <!-- Filter options -->
  <div class="filter-option">
    <label><input type="radio" name="gender" value="male"> Male</label>
    <label><input type="radio" name="gender" value="female"> Female</label>
    <label><input type="radio" name="gender" value="any" checked> Any</label>
  </div>
  <div class="filter-option">
    <label><input type="radio" name="level" value="beginner"> Beginner</label>
    <label><input type="radio" name="level" value="moderate"> Moderate</label>
    <label><input type="radio" name="level" value="expert"> Expert</label>
  </div>
  <div class="filter-option">
    <!-- Dynamically create options from categoriesWithSub -->
    <select [(ngModel)]="selectedCategory">
      <option *ngFor="let cat of categoriesWithSub" [ngValue]="cat.category">{{ cat.category }}</option>
    </select>
    <select [(ngModel)]="selectedSubcategory">
      <option *ngFor="let sub of selectedCategory?.subcategories" [ngValue]="sub">{{ sub }}</option>
    </select>
  </div>
  <div class="filter-option">
    <label><input type="radio" name="price" value="ascending"> Price Ascending</label>
    <label><input type="radio" name="price" value="descending"> Price Descending</label>
  </div>
  <div class="filter-option">
    <label><input type="radio" name="rating" value="ascending"> Rating Ascending</label>
    <label><input type="radio" name="rating" value="descending"> Rating Descending</label>
  </div>
</div>



<div class="row text-center mt-4">
  <div *ngFor="let category of categories" class="col-md-3 col-sm-6 mb-3">
    <a [routerLink]="['/' + category.routeName]">
      <img src="{{ category.imageUrl }}" class="img-fluid orange-border" alt="{{ category.name }}">
      <h5>{{ category.name }}</h5>
    </a>
  </div>
</div>





<!-- <nav class="category-nav">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="nav">
          <a *ngFor="let category of categories" 
             [routerLink]="['/' + category.routeName]" 
             class="nav-link">
            {{ category.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav> -->
<!-- <button (click)="getAllData()">get Data Of website Traffic Analysis</button> -->
<!-- Relevant part of the HTML code for the card display -->
<div class="container">
  <div class="row mt-5 pt-5">
    <div *ngFor="let data of teacherData; let i = index" class="col-sm-6 col-md-6 col-lg-6 col-6 mb-4" [routerLink]="['/card-detail', data.objectId]">
      <div class="card text-center shadow">
        <div class="card-body d-flex flex-column position-relative">
          <!-- Displaying the Unique ObjectId -->
          <div class="card-object-id">
            ID: {{ data.objectId }}
          </div>

          <!-- Image Container -->
          <div class="image-container">
            <img [src]="data.image1" alt="Profile Image">
          </div>
          
          <!-- Information Container -->
          <div class="info-container">
            <div class="profile-info d-flex align-items-start">
              <div class="name-title">
                <div class="info-box">
                  <h3 class="card-name">I will {{ data.title }}</h3>

                </div>
                
              </div>
            </div>
            <div class="mahi profile-info d-flex align-items-start">
              <img [src]="data.image | safeResourceUrl" class="rounded-circle" alt="Profile Image" style="height: 10vh; width: 5vw; border-radius: 1rem;">

              <p class="card-title">NAME:         {{ data.firstname }}</p>
  
            </div>

          </div>
         
          

          <!-- Heart, Price, Rating, and Star Container -->
          <div class="icon-info-container">
            <!-- Heart Icon and Price -->
            <div class="heart-price-container">
              <fa-icon [ngClass]="{'heart-active': data.heartActive}" class="heart-icon fa-2x" [icon]="heart" (click)="toggleHeart($event, data)"></fa-icon>
              <p class="price-text">Rs:{{ data.price }}</p>
            </div>

            <!-- Average Rating and Star Icon -->
            <div class="average-rating">
              <fa-icon class="fa-2x" style="color:yellow" [icon]="star"></fa-icon>
              <p class="rating-text">{{ data.averageRating !== undefined ? data.averageRating : 'Not Rated' }}</p>

            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<app-footer></app-footer>



